* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.Word-CLR {
  color: #eebc1d;
}

//header

.navbar {
  background: #eebc1d;
  background-image: linear-gradient(to left, #eeb8066f, #e1ae40cb, #eebc1d);
  color: white;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.Navbar-Brand {
  bdo {
    color: rgba(255, 255, 255, 0.903);
  }
  font-size: 35px;
  font-weight: bolder;
  font-family: "Courier New";
}

.Navbar-logo {
  width: 30;
  height: 30;
  margin-right: 2rem;
  max-width: 3rem;
}

.NavLink {
  color: white;
}

.headsearch {
  font-size: 11px;
}
//input

input {
  padding: 7px 34px;
  font-size: 1rem;
  background: transparent;
  border-radius: 24px 24px;
  font-size: 1rem;
  margin-right: 0.8rem;
  font-family: sans-serif;
}

@media screen and (max-width: 760px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  p {
    font-size: 1rem;
  }
}

// home search

.home-search .srch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.home-search .left-s {
  padding: 1rem;
}

.home-search h1 {
  padding: 1rem 0;
  font-family: sans-serif;
  font-weight: bold;
}

.home-search p {
  font-family: sans-serif;
  color: rgba(128, 128, 128, 0.919);
}

.Word-CLR {
  color: #eebc1d;
}

.home-search .input-container {
  padding: 1rem 0;
}

.home-search .rigth-s {
  padding: 1rem;
}

.home-search .img-search {
  width: 100%;
  display: grid;
}

.home-search img {
  max-width: 70%;
  margin: auto;
}

.home-crypto {
  a {
    text-decoration: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
  }
  span {
    display: block;
  }
}

.home-crypto-name {
  flex: 1;
  font-size: 13px;
  color: #111;
  font-weight: 600;
}

.home-crypto-image {
  width: 40px;
  max-width: 100%;
  display: block;
}

.home-crypto-Btc {
  color: #111;
  font-size: 15px;
}

.home-crypto-Usd {
  color: #111;
  font-size: 10px;
}

@media screen and (max-width: 740px) {
  .home-search .srch {
    grid-template-columns: 1fr;
    margin: 1rem 0;
  }
  .home-search .img-search img {
    display: none;
  }
}

//featured

.green {
  color: #39db1c;
}

.red {
  color: red;
}

.featured {
  width: 100%;
  padding: 8rem 0;
  background-color: #eeb80661;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
}

.featured .ftrd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.featured .left-f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.featured .left-f p {
  margin: 1.5rem 0;
  // color: rgb(179, 142, 8);
  color: black;
}

.featured .left-f .coin-button {
  align-self: flex-start;
}

.coin-button {
  padding: 14px 32px;
  border: 2px solid rgba(15, 1, 1, 0.628);
  background-color: #eebc1d;
  color: #fff;
  border-radius: 24px 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.coin-button:hover {
  border: 0px;
  box-shadow: rgb(255, 188, 4) 3px 4px 80px 4px;
  font-size: 18px;
}

.featured .right-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.linkto {
  text-decoration: none;
  color: black;
}

.featured .right-f .card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 12px 22px;
  margin: 0.4rem;
  width: 170px;
  height: 170px;
  border-radius: 24px;
  border: 1px solid #d3d3d3;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
  text-align: center;
}

.featured .right-f .card:hover {
  box-shadow: rgb(255, 188, 4) 3px 4px 80px 4px;
}

.featured .card .top {
  display: flex;
  flex-direction: column;
}

.featured .right-f img {
  width: 50px;
  margin: auto;
  padding: 0.2rem 0;
}
.featured .right-f p {
  padding-bottom: 5px;
  line-height: 0px;
}

.featured .icon {
  font-size: 30px;
  margin: auto;
  padding-top: 2px;
  justify-content: center;
  align-items: center;
}

.featured span {
  font-size: 20px;
}

@media screen and (max-width: 740px) {
  .featured .ftrd {
    grid-template-columns: 1fr;
  }
  .featured .left-f .coin-button {
    align-self: center;
  }
  .featured .left-f h2 {
    align-self: center;
  }
  .featured .left-f p {
    align-self: center;
  }
  .featured .left-f form {
    align-self: center;
  }
}

@media screen and (max-width: 478px) {
  .featured .ftrd .right-f .card {
    width: 100%;
  }
}



//news

//crypto

.whatiscrypto {
  span {
    background-color: #eebc1d;
    height: 1em;
    transform: rotate(-1deg);
    padding: 0 0.25em;
    border-radius: 15% 15% 15% 15%;
    font-size: 28px;
  }
  font-size: 28px;
  font-weight: bolder;
  font-family: "Courier New";
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto-head .crypto-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.crypto-head .crypto-container .left-c {
  padding: 1rem;
}

.crypto-head .crypto-container h2 {
  font-family: LabGrotesque, arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  font-weight: bold;
}

.crypto-head .crypto-container p {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.bold-text {
  font-weight: bold;
  font-family: LabGrotesque, arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #eebc1d;
}
.black {
  color: black;
  font-weight: bold;
}

.readmore {
  background-color: #eebc1d;
  border: none;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 15px;
}

@media screen and (max-width: 740px) {
  .crypto-head .crypto-container {
    grid-template-columns: 1fr;
  }
  .crypto-head .crypto-container p {
    font-size: small;
  }
}

#more {
  display: none;
}
#more2 {
  display: none;
}
// HEAD

// footer

.site-footer {
  // background-image: linear-gradient(to left, #494848, #878787, #787878);
  background-color:#63615a6d ;
  // padding-top: 20px 0;
  padding: 6rem 0;
  margin-top: 2rem;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}


.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.836);
}

.text-center a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.text-center .icon {
  color: #303030;
  margin-right: 4px;
}

.col-sm h5 {
  color: black;
  font-weight: bold;
  text-decoration: underline rgb(211, 149, 4);
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

.link .clickme {
  color: red;
}
@media screen and (max-width: 740px) {
  .site-footer .container{
    grid-template-columns: repeat(2, 1fr);
  }
  .col-sm h5 {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-center a {
    font-size: 16px;
  }
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// show

.show-header {
  padding: 40px 0;
  text-align: center;

  // img {

  // }

  // h2 {

  // }
}

.show-graph {
  height: 200px;
  width: 100%;
}

.width {
  max-width: 600px;
  margin: 0 auto;
  width: 92%;
}

.show-details {
  padding-top: 40px;
  padding-bottom: 60px;

  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;
    font-family: "Courier New";
  }
  .deets {
    background-color: #eebc1d;
    height: 1em;
    transform: rotate(-1deg);
    padding: 0 0.25em;
    border-radius: 15% 15% 15% 15%;
  }
}

.show-details-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  color: #eebc1d;
  font-size: 13.8px;

  h3 {
    font-size: 14.5px;
    font-weight: bold;
    color: #111;
  }
}

// halal

.para {
  color: black;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 740px) {
  .para {
    font-size: 12px;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.here {
  color: black;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}
.here:hover {
  color:#eebc1d;
}

//tweet

.react-tweet-card__replies{
  visibility: hidden;
}

.react-tweet-card__container {
  border:  2px solid grey;
  height: 300px;
  width: 300px;
}

.react-tweet-card__author-name .react-tweet-card__author-username
 {
  height: 20%;
  width: 20%;
 }


@media screen and (max-width: 740px) {
  .news h1{
    font-size: 19px;
  }
  .news h1 span {
    font-size: 19px;
  }
}
